<!doctype html>
<html>

<head>
    <title>Mi Aplicación</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/style.css">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>

<body>
    <nav id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="/home">Mi Aplicación</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="profile">Mi perfil</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <!-- LOCAL INFORMATION -->
            <div class="col-sm-12">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Cuenta local</h3>

                    <% if (user.local.email) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user._id %><br>
                                <strong>email</strong>:
                                <%= user.local.email %><br>
                                    <strong>password (encriptado)</strong>:
                                    <%= user.local.password %>
                        </p>

                        <a href="/unlink/local" class="btn btn-default">Unlink</a>
                        <% } else { %>
                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                            <% } %>

                </div>
            </div>

            <!-- FACEBOOK INFORMATION -->
            <div class="col-sm-12">
                <div class="well">
                    <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                    <!-- check if the user has this token (is the user authenticated with this social account) -->
                    <% if (user.facebook.token) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user.facebook.id %><br>
                                <strong>token</strong>:
                                <%= user.facebook.token %><br>
                                    <strong>email</strong>:
                                    <%= user.facebook.email %><br>
                                        <strong>name</strong>:
                                        <%= user.facebook.name %><br>
                        </p>

                        <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                        <% } else { %>
                            <a href="/connect/facebook" class="btn btn-primary">Connectar Facebook</a>
                            <% } %>

                </div>
            </div>
        </div>
        <div class="row">

            <!-- TWITTER INFORMATION -->
            <div class="col-sm-12">
                <div class="well">
                    <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                    <% if (user.twitter.token) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user.twitter.id %><br>
                                <strong>token</strong>:
                                <%= user.twitter.token %><br>
                                    <strong>display name</strong>:
                                    <%= user.twitter.displayName %><br>
                                        <strong>username</strong>:
                                        <%= user.twitter.username %>
                        </p>

                        <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                        <% } else { %>
                            <a href="/connect/twitter" class="btn btn-info">Connectar Twitter</a>
                            <% } %>

                </div>
            </div>

            <!-- GOOGLE INFORMATION -->
            <div class="col-sm-12">
                <div class="well">
                    <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                    <% if (user.google.token) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user.google.id %><br>
                                <strong>token</strong>:
                                <%= user.google.token %><br>
                                    <strong>email</strong>:
                                    <%= user.google.email %><br>
                                        <strong>name</strong>:
                                        <%= user.google.name %>
                        </p>

                        <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                        <% } else { %>
                            <a href="/connect/google" class="btn btn-danger">Connectar Google</a>
                            <% } %>
                </div>
            </div>


        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>
